

services:
  backend:
    build:
      context: ../backend
      dockerfile: ../deployment/backend.Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      - PORT=8000
      - DB_SSL=true
      - DB_CA=/app/certs/root.crt
    depends_on:
      - postgres
      - redis
    volumes:
      - ./data/db-certs/root.crt:/app/certs/root.crt:ro
    networks:
      - app-network

  frontend:
    build:
      context: ../frontend
      dockerfile: ../deployment/frontend.Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      - PORT=3000
      - HOST=0.0.0.0
    networks:
      - app-network

  postgres:
    image: postgres:16
    restart: always
    security_opt:
      - apparmor=unconfined
    environment:
      POSTGRES_USER: ${DB_USERNAME:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_DATABASE:-portyo}
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./data/db-certs:/var/lib/postgresql/ssl:ro
    command:
      - postgres
      - -c
      - ssl=on
      - -c
      - ssl_cert_file=/var/lib/postgresql/ssl/server.crt
      - -c
      - ssl_key_file=/var/lib/postgresql/ssl/server.key
      - -c
      - ssl_ca_file=/var/lib/postgresql/ssl/root.crt
    networks:
      - app-network



  redis:
    image: redis:alpine
    restart: always
    volumes:
      - redis-data:/data
    networks:
      - app-network

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    networks:
      - app-network
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
  redis-data:
