

services:
  backend:
    build:
      context: ../backend
      dockerfile: ../deployment/backend.Dockerfile
    restart: always
    env_file:
      - .env
    environment:
      - PORT=8000
      - DB_SSL=false
      - DB_HOST=postgres
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MAILGUN_API_SECRET=${MAILGUN_API_SECRET}
      - MAILGUN_DOMAIN=${MAILGUN_DOMAIN}
      - MAILGUN_FROM_EMAIL=${MAILGUN_FROM_EMAIL}
      - FRONTEND_URL=${FRONTEND_URL:-https://portyo.me}
      - BACKEND_URL=${BACKEND_URL:-https://api.portyo.me}
    depends_on:
      - postgres
      - redis
    networks:
      - app-network

  frontend:
    build:
      context: ../frontend
      dockerfile: ../deployment/frontend.Dockerfile
      args:
        - VITE_API_URL=${VITE_API_URL:-https://api.portyo.me}
    restart: always
    env_file:
      - .env
    environment:
      - PORT=3000
      - HOST=0.0.0.0
      - API_URL=${API_URL:-https://api.portyo.me/api}
      - VITE_API_URL=${VITE_API_URL:-https://api.portyo.me}
    networks:
      - app-network

  postgres:
    image: postgres:16
    restart: always
    security_opt:
      - apparmor=unconfined
    environment:
      POSTGRES_USER: ${DB_USERNAME:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_DATABASE:-portyo}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    command: ["postgres", "-c", "ssl=off"]
    networks:
      - app-network



  redis:
    image: redis:alpine
    restart: always
    volumes:
      - redis-data:/data
    networks:
      - app-network

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"

  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    networks:
      - app-network
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
  redis-data:
